<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:theme="@style/Theme.DocuFlow"
        android:label="DocuFlow"
        android:icon="@drawable/ic_docuflow">
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Receive supported office/PDF documents from Android "Open with". -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/msword" />
                <data android:mimeType="application/vnd.ms-excel" />
                <data android:mimeType="application/vnd.ms-powerpoint" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
                <data android:mimeType="application/vnd.oasis.opendocument.text" />
                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet" />
                <data android:mimeType="application/vnd.oasis.opendocument.presentation" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/csv" />
                <data android:mimeType="application/rtf" />
            </intent-filter>
        </activity>
    </application>
</manifest>
